ul {
    background: #D46A6A;
    padding: 20px;
    list-style: none;
    padding: 5px;
}
ul li {
    background: #FFAAAA;
    margin: 5px;
}

ul li:before {
    content: "( '-')Q('Q) ";
    color: #550000; /* or whatever color you prefer */
}
